#turk {
    height: 45px;
    width: 40px;
    margin: 5px;
}
#ing {
    height: 45px;
    width: 40px;
    margin:0px;
}
#sepetim {
    margin: 0px;
    background-color: darkcyan;
    width: 100px;
    height: 53px;
}


