
@{
    Layout = null;
}

<title>Sign In</title>
<link href="~/Login/login.css" rel="stylesheet" />
<form asp-action="Index" method="post">
    <body class="main-bg">
        <div class="login-container text-c animated flipInX">
            <div>
                <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
            </div>
            <h3 class="text-whitesmoke">Giriş Yap</h3>
            <div class="container-content">
                <form class="margin-t">
                    <div class="form-group">
                        <input type="text" class="form-control" name="UserName" placeholder="Username" required="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" placeholder="*****" required="">
                    </div>
                    <button type="submit" class="form-button button-l margin-b">Giriş Yap</button>

                    <div class="form-group">
                        <div asp-validation-summary="ModelOnly" class="text-primary">

                        </div>

                    </div>
                    <a href="SignUp" class="text-darkyellow"><small>Sign Up</small></a>
                </form>
                <p class="margin-t text-whitesmoke"><small> Your Name &copy; 2021</small> </p>
            </div>
        </div>
    </body>
</form>
